<div id='userMode' class='uiButton'>✈</div>
<div id='geoStatus' class='uiDisplay'>⊙</div>
<div id='userGeoLocation' class='uiDisplay'>{{renderPos user.geoLocation.coords.latitude user.geoLocation.coords.longitude}}</div>
<div id='userGeoLocAcc' class='uiDisplay {{setAccBg user.geoLocation.coords.accuracy}}'>{{renderAcc user.geoLocation.coords.accuracy}}</div>
<div id='userGeoInfo' class='uiDisplay'>{{ms2kmh user.geoLocation.coords.speed}} A: {{user.geoLocation.coords.altitude}} m</div>
<div id='userOptions' class='uiButton'>⚙</div>
