
<h1>{{feature.properties.title}}</h1>
<div data-format="position" data-lat="{{lat}}" data-lon="{{lon}}"></div>
<div class='featureDetails'>
{{#keyValue feature.properties}}
<p>
  <span class='key'>{{key}}</span><span class='value'>{{value}}</span>
</p>
{{/keyValue}}
</div>
