<!-- FIXME: manage url with js + fallbacks -->
<div class='featureBoxItem-details'>
  <div class='shield-{{tabIndex}} shield-o-{{index}} featureBoxItem-icon' ></div>
  <div class='featureBoxItem-description' title="{{properties.description}}">
    <h3>{{properties.title}}</h3>
    {{#if properties.description}}<p>{{truncate properties.description 30}}</p>{{/if}}
  </div>
</div>
<div class='featureBoxItem-geodata'>
  <div class='featureBoxItem-distance'>{{distance}}</div>
  <div class='featureBoxItem-position' data-lat="{{lat}}" data-lon="{{lon}}" data-format="position"></div>
  <div class='featureBoxItem-sector'>{{sector}}</div>
</div>
